%section.bg-light
  .container
    %h1.text-warning.text-center.col-12.mb-5.font-weight-light
      = 'The SPARCRequest Process'
    .col-6.pl-0
      %h3.text-center.font-weight-light
        = 'High Level Overview'
      %iframe{ width: 540, height: 303, src: 'https://www.youtube.com/embed/MQKwcozR69U', frameborder: '0', allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen: true}
    .col-6.pr-0
      %h3.text-center.font-weight-light
        = 'In-depth Overview'
      %iframe{ width: 540, height: 303, src: 'https://www.youtube.com/embed/gb1_vm7M7nI', frameborder: '0', allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen: true}
    .col-12.d-flex.justify-content-center.mt-5
      = link_to 'Learn More', 'javascript:void(0)', class: 'btn btn-lg btn-primary'
