%span.sort-container.mr-4
  = link_to 'javascript:void(0)', class: 'sort sort-asc' do
    = icon('fas', 'caret-up fa-lg')
  = link_to 'javascript:void(0)', class: 'sort sort-desc' do
    = icon('fas', 'caret-down fa-lg')
