.substep#financialInformationSection
  = render 'shared/required_fields_notice'
  %h4.card-header.card-footer.bg-white
    = 'Financial Information'
    %br
    %small
      %small.text-secondary
        = "Information used for reporting purposes and for your future use"
