.card.col-8.offset-2.p-0
  %form.form
    .card-body
      = render 'protocols/details/navbar', protocol: @protocol, type: @type
      = render 'protocols/details/protocol_information', protocol: @protocol, type: @type
      = render 'protocols/details/financial_information', protocol: @protocol, type: @type

:javascript
  setActiveSubStep()
