#protocolFilters {
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  flex: 0 0 20%;
  max-width: 20%;
}

#protocols {
  flex: 0 0 80%;
  max-width: 80%;

  .protocol {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .protocol-details {
      display: flex;
      align-items: center;
    }
  }
}
