#protocolFilters {
  border: 0;
  flex: 0 0 20%;
  max-width: 20%;

  .card-body {
    flex: 0;
  }
}

#protocols {
  flex: 0 0 80%;
  max-width: 80%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.125);

  .protocol {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .protocol-details {
      display: flex;
      align-items: center;
    }
  }
}
