#protocolFilters {
  border: 0;
  flex: 0 0 20%;
  max-width: 20%;

  #newProtocolButton {
    &:after {
      display: none;
    }
  }

  .card-body {
    flex: 0;
  }
}

#protocols {
  flex: 0 0 80%;
  max-width: 80%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.125);

  #protocolsTable {
    th {
      border-top: 0;
      border-bottom: 0;
    }
  }
}
