.events {
  .event {
    flex-wrap: nowrap !important;
    align-items: flex-start !important;
    justify-content: space-between;

    .event-time {
      color: theme-color('secondary');
    }

    .event-title, .event-time {
      margin: 0;
      font-weight: 300;
    }

    .event-date {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: theme-color('primary');
      color: white;
      font-weight: bold;
      text-align: center;
    }
  }
}

.events-section {
  .container {
    padding-top: 0;

    .events-header {
      border-left: 2px solid theme-color('warning');
      padding-top: 3rem;
    }

    .events {
      border-right: 2px solid theme-color('warning');
      padding-top: 3rem;

      .event {
        display: flex;
        justify-content: flex-end;
        border-right: 4px solid transparent;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &:hover {
          border-right: 4px solid theme-color('primary');
        }

        .event-date {
          width: 64px;
          height: 64px;
          padding: 0;
        }
      }
    }
  }
}
