body {
  display: flex;
  flex-wrap: wrap;

  #contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

#siteHeader, .header-nav, section, #siteFooter {
  width: 100%;
}

section, footer {
  .container {
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
}

img {
  width: 100%;
}

a {
  transition: 0.15s ease-in-out;
  text-decoration: none !important;
  outline: none !important;
}
