body {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;

  transition: opacity 0.5s ease-in-out;

  &.active {
    opacity: 1;
  }

  #contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

#siteHeader,
.header-nav,
.steps-nav,
section,
#siteFooter {
  width: 100%;
}

section, footer {
  .container, .container-fluid {
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
}

img {
  width: 100%;
}

a {
  transition: 0.15s ease-in-out;
}

a, .btn-link {
  text-decoration: none !important;
  outline: none !important;
}
