nav.navbar {
  padding: 1rem;

  .navbar-brand {
    padding: 0;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 0 1rem;
        font-size: 1.5rem;
        font-weight: 300;

        &:first-child {
          color: theme-color('primary');

          &:hover {
            color: theme-color-level('primary', 5rem);
          }
        }
      }
    }
  }
}

section, footer {
  .container {
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.banner-container {
  width: 100%;
  height: 600px;
  position: relative;

  .banner {
    height: 100%;
    position: absolute;
    z-index: -2;
  }

  .banner-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: theme-color('dark');
    opacity: 0.8;
    position: absolute;
    z-index: -1;
  }

  .banner-caption {
    color: theme-color('light');
    font-size: 1.5rem;
  }
}

.header-nav {
  .navbar-brand {
    display: flex;
    justify-content: flex-end;

    &.brand-alt {
      width: 48px;
      display: none;
    }
  }

  .nav-container {
    display: flex;
    flex-flow: column;
    flex: 1 auto;

    .department-link {
      align-self: flex-end;
      padding: 0 0 15px 0;
    }

    .navbar-nav {
      .nav-item {
        display: flex;
        align-items: center;
      }
    }
  }
}

footer {
  .footer-nav {
    .container {
      align-items: stretch;
      justify-content: flex-start;

      .navbar-brand {
        margin-right: 0;

        .logo {
          width: 75%;
        }
      }

      .navbar-nav {
        padding-right: 25px;
        flex-flow: row;
        justify-content: center;

        .nav-item {
          position: relative;

          &:not(:first-child) {
            &::before {
              content: "";
              width: 2px;
              top: 0;
              bottom: 0;
              left: 0;
              background: theme-color-level('light', 3);
              position: absolute;
            }
          }

          .nav-link {
            padding: 0 2rem;

            &:first-child {
              font-weight: normal;
            }

            &:not(:first-child) {
              small {
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }

  .copyright-container {
    background: theme-color('dark');

    .container {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .copyright {
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      color: white;
    }

    .external-links {
      padding-right: 0;
      display: flex;
      justify-content: flex-end;

      .external-link {
        color: white;
      }
    }
  }
}

img {
  width: 100%;
}

a {
  transition: 0.15s ease-in-out;
  text-decoration: none !important;
  outline: none !important;
}
